<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367996715898-33s966b99fqm2r4cqadklafmnir35jof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367996715898-33s966b99fqm2r4cqadklafmnir35jof</string>
	<key>API_KEY</key>
	<string>AIzaSyCRFReU20lPpdx77Yiz3e8ce1Kk0YDgUKk</string>
	<key>GCM_SENDER_ID</key>
	<string>367996715898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huisheng.mynotes</string>
	<key>PROJECT_ID</key>
	<string>flutter-huislaw-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-huislaw-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367996715898:ios:393d39fcb10aa4aaf70cc3</string>
</dict>
</plist>